p{
    color: rgba(0, 0, 0, 0.7);
    font-size:1vw;
}

.Timeline-container{
    display:flex;
    flex-direction:column;
    position:relative;
    margin:40px 0;
}

.Timeline-container::after {
    background-color:  #343434;
    content: '';
    position: absolute;
    left: calc(10% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
    position: relative;
    margin: 10px 0;
    width: 30%;
    left: calc(10% + 20px);
    /* align-self: center; */

}

.timeline-item .circle {
    background-color: #343434;
    border: 3px solid #343434;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: -30px;
    width: 20px;
    height: 20px;
    z-index: 100;
}
